name: package

on:
  push:
    branches:    
      - master
    tags:
      - v*

  pull_request:
    branches:    
      - master
    tags:
      - v*

jobs:
  build:

    runs-on: 	vs2017-win2016
    
    steps:
    - uses: actions/checkout@v2

    - name: release
      shell: bash
      run: |
        python -m pip install -r requirements.txt

    - name: release
      shell: cmd
      run: |
        make.bat html

    - uses: actions/upload-artifact@v1
      with:
        name: build
        path: build
